/* buttons */

.btn {
    outline: 0;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    transition: all 250ms;
}

.btn:focus,
.btn:active,
.btn:active:focus{
    outline: 0;
}

.btn-primary {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #33d4c0;
    background-color: #33d4c0;
    color: #fff;
}

.btn-primary:hover {
    -webkit-box-shadow: 0 3px 1px -1px #38AC9E;
    -moz-box-shadow: 0 3px 1px -1px #38AC9E;
    -ms-box-shadow: 0 3px 1px -1px #38AC9E;
    box-shadow: 0 3px 1px -1px #38AC9E;
    border-color: #47E3CF;
    background-color: #47E3CF;
    color: #fff;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #38AC9E;
    background-color: #38AC9E;
    color: #fff;
}

.btn-secondary {
    -webkit-box-shadow: 0 4px 1px -1px #C62E42;
    -moz-box-shadow: 0 4px 1px -1px #C62E42;
    -ms-box-shadow: 0 4px 1px -1px #C62E42;
    box-shadow: 0 4px 1px -1px #C62E42;
    border: 1px solid #ef2742;
    background-color: #ef2742;
    color: #fff;
}

.btn-secondary:hover {
    -webkit-box-shadow: 0 3px 1px -1px #C62E42;
    -moz-box-shadow: 0 3px 1px -1px #C62E42;
    -ms-box-shadow: 0 3px 1px -1px #C62E42;
    box-shadow: 0 3px 1px -1px #C62E42;
    border-color: #FF435D;
    background-color: #FF435D;
    color: #fff;
}

.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #C62E42;
    background-color: #C62E42;
    color: #fff;
}

.btn-default {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #fff;
    background-color: #fff;
    color: #ef2742;
}

.btn-default:hover {
    -webkit-box-shadow: 0 3px 1px -1px #38AC9E;
    -moz-box-shadow: 0 3px 1px -1px #38AC9E;
    -ms-box-shadow: 0 3px 1px -1px #38AC9E;
    box-shadow: 0 3px 1px -1px #38AC9E;
    border-color: #ef2742;
    background-color: #ef2742;
    color: #fff;
}

.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #ef2742;
    background-color: #ef2742;
    color: #fff;
}

.btn-transparent {
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.btn-transparent:hover {
    -webkit-box-shadow: 0 3px 1px -1px #38AC9E;
    -moz-box-shadow: 0 3px 1px -1px #38AC9E;
    -ms-box-shadow: 0 3px 1px -1px #38AC9E;
    box-shadow: 0 3px 1px -1px #38AC9E;
    border-color: #fff;
    background-color: #fff;
    color: #33d4c0;
}

.btn-transparent:focus,
.btn-transparent:active,
.btn-transparent:active:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #fff;
    background-color: #fff;
    color: #33d4c0;
}

/* forms */

.form-control {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 0 4px 1px -1px #38AC9E;
    -moz-box-shadow: 0 4px 1px -1px #38AC9E;
    -ms-box-shadow: 0 4px 1px -1px #38AC9E;
    box-shadow: 0 4px 1px -1px #38AC9E;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    transition: all 500ms;
}

.form-control:focus {
    -webkit-box-shadow: 0 4px 1px -1px #14897B;
    -moz-box-shadow: 0 4px 1px -1px #14897B;
    -ms-box-shadow: 0 4px 1px -1px #14897B;
    box-shadow: 0 4px 1px -1px #14897B;
}

/* blockquotes */

blockquote {
    max-width: 300px;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

@media (min-width: 768px) {
    blockquote {
        margin-left: 0;
        margin-right: 0;
    }
}

/* hr */

hr {
    margin-top: 60px;
    margin-bottom: 40px;
    border-color: #33D4C0;
}